@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BODEGA PINEDA</h1>
    <p class="lead">Compra y Venta de cafe.</p>
    
</div>

<div class="row text-center">
    <div class="col-md-4">
        <span class="glyphicon glyphicon-usd" style="font-size:50px;"></span>
        <h2 class="font-bold">Compra</h2>
        <p>
            Somos una empresa de cafe que nos dedicamos a la compra y  venta de cafe ofreciendole los mejores precios y descuentos del mercado
            ubicados en la villa de pinalejo  quimistan santa barbara.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-transfer" style="font-size:50px;"></span>
        <h2 class="font-bold">Venta</h2>
        <p>
            Nosotros somos  intermediarios  entre  el productor y las exportadoras de cafe  nuestro  trabajo es preparar el producto
            de la mejor calidad y venderlo a los beneficios como  ser Molinos de Honduras , Olan. luego  ellos lo exportan a los
            diferentes paises del  mundo.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-road" style="font-size:50px;"></span>
        <h2 class="font-bold">Distribución</h2>
        <p> Contamos con sistema de distribucion e infraestructura para trasnporte y tratado  de cafe a diferentes puntos del pais .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>