body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*My CSS*/
.jumbotron {
    background-image:url("http://eac381c9c961baf9eff6-22b0b06b8b413d9b4906189f34ffbee8.r44.cf3.rackcdn.com/coffeeculture-banner.jpg");
    border:0;
    position:relative;

}