<div class="modal-header" ng-init="getCompras()" style="max-height:40px;">
    <h4 class="modal-title">Listado Actual Compras</h4>
</div>
<div class="modal-body" style="overflow-y:scroll;">
    <div style="overflow-y:auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Productor</th>
                    <th>Producto</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Compra in ListadoCompras">
                    <th>{{Compra.Nombre}}</th>
                    <th>{{Compra.Producto}}</th>
                    <th>{{Compra.Monto}}</th>
                    <th><button type="button" class="btn btn-raised btn-warning btn-xs"><span class="glyphicon glyphicon-remove"></span></button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Cerrar</button>
</div>